@model BibliotecaIrt.Models.LivroModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Livros</h2>

<div class="row">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    IBSN
                </th>
                <th>
                    Nome do Livro
                </th>
                <th>
                    Autor do Livro
                </th>
                <th>
                    Ano de publicação
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaLivros)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.isbnLivro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeLivro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeAutor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.anoPublicacao)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.idLivro })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.listaLivros.Count == 0)
    {
        <label>Nenhum registro encontrado.</label>
    }
</div>

<div class="row">
    <div class="col-md-3 pull-left">
        @Html.ActionLink("Novo Livro", "Novo")
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var msg = '@ViewBag.Msg';
        if (msg != '') {
            alert(msg);
        }
    });
</script>

